In [1]:
from buildstock_query import BuildStockQuery
import pandas as pd

In [2]:
# autoreload
%load_ext autoreload
%autoreload 2

In [3]:
my_run = BuildStockQuery('rescore','enduse',
                        "marley_aws_tall",
                        buildstock_type='comstock',
                        skip_reports=False)

INFO:buildstock_query.query_core:Loading marley_aws_tall ...
INFO:buildstock_query.query_core:10 queries cache read from None.
INFO:buildstock_query.query_core:10 queries cache is updated.
INFO:buildstock_query.main:Getting Success counts...
INFO:buildstock_query.report_query:Checking integrity with ts_tables ...
INFO:buildstock_query.query_core:No new queries to save.

         fail  unapplicable  success  Sum  Applied %  bad-chng  ok-chng  \
upgrade
0          11             0       72   83        0.0         0        0
1           3             0       69   72      100.0        13       56
2           2             0       70   72      100.0         2       68
3           0             0       72   72      100.0         1       71
4           0            44       28   72       38.9         0       28
5           0            43       29   72       40.3         0       29
6           0            68        4   72        5.6         0        4
7           0            68        4   72        5.6         0        4
8           0            68        4   72        5.6         0        4
9           0            68        4   72        5.6         0        4
10          0            68        4   72        5.6         0        4
11          0             0       72   72      100.0         1       71
12          0             3       69   72       95.8         0       69
13          0             0       72   72      100.0         0       72
14          0             8       64   72       88.9         0       64
15          0            53       19   72       26.4         0       19
16          0            42       30   72       41.7         0       30
17          0            59       13   72       18.1         0       13
18          0            44       28   72       38.9        12       16
19          0             0       72   72      100.0         8       64
20          0            64        8   72       11.1         1        7

         true-bad-chng  true-ok-chng  null  any  no-chng  no-chng %  \
upgrade
0                    0             0     0    0      0.0        0.0
1                   13            56     0   69      0.0        0.0
2                    2            68     0   70      0.0        0.0
3                    1            71     0   72      0.0        0.0
4                    0            28     0   28      0.0        0.0
5                    0            29     0   29      0.0        0.0
6                    0             4     0    4      0.0        0.0
7                    0             4     0    4      0.0        0.0
8                    0             4     0    4      0.0        0.0
9                    0             4     0    4      0.0        0.0
10                   0             4     0    4      0.0        0.0
11                   1            71     0   72      0.0        0.0
12                   0            69     0   69      0.0        0.0
13                   0            72     0   72      0.0        0.0
14                   0            64     0   64      0.0        0.0
15                   0            19     0   19      0.0        0.0
16                   0            30     0   30      0.0        0.0
17                   0            13     0   13      0.0        0.0
18                  12            16     0   28      0.0        0.0
19                   8            64     0   72      0.0        0.0
20                   1             7     0    8      0.0        0.0

         bad-chng %  ok-chng %  true-ok-chng %  true-bad-chng %
upgrade
0               0.0        0.0             0.0              0.0
1              18.8       81.2            81.2             18.8
2               2.9       97.1            97.1              2.9
3               1.4       98.6            98.6              1.4
4               0.0      100.0           100.0              0.0
5               0.0      100.0           100.0              0.0
6               0.0      100.0           100.0              0.0
7               0.0      100.0           100.0              0.0
8               0.0      100.0           100.0              0.0
9               0.0      100.0           100.0              0.0
10              0.0      100.0           100.0              0.0
11              1.4       98.6            98.6              1.4
12              0.0      100.0           100.0              0.0
13              0.0      100.0           100.0              0.0
14              0.0      100.0           100.0              0.0
15              0.0      100.0           100.0              0.0
16              0.0      100.0           100.0              0.0
17              0.0      100.0           100.0              0.0
18             42.9       57.1            57.1             42.9
19             11.1       88.9            88.9             11.1
20             12.5       87.5            87.5             12.5
Annual and timeseries tables are verified to have the same number of buildings.
All buildings are verified to have the same number of (35040) timeseries rows.

In [4]:
baseline_agg = my_run.agg.aggregate_annual(enduses=['total_site_electricity_kwh'],
                                       group_by=['changebuildinglocation_climate_zone'])
baseline_agg

,changebuildinglocation_climate_zone,sample_count,units_count,total_site_electricity_kwh
0,T24-CEC6,9,9,5.318956e+07
1,T24-CEC8,3,3,6.158517e+06
2,T24-CEC9,60,60,1.531625e+08

In [5]:
my_run.save_cache()

INFO:buildstock_query.query_core:11 queries cache saved to .bsq_cache/marley_aws_tall_query_cache.pkl

In [6]:
all_enduses = my_run.get_cols(my_run.ts_table)
all_enduses

[Column('time', TIMESTAMP(), table=<marley_aws_tall_timeseries>),
 Column('timedst', TIMESTAMP(), table=<marley_aws_tall_timeseries>),
 Column('timeutc', TIMESTAMP(), table=<marley_aws_tall_timeseries>),
 Column('districtcooling_cooling_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('districtheating_heating_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_cooling_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_elevators_interior_equipment_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_exterior_lighting_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_fans_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_heat_rejection_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_heating_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_interior_equipment_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_interior_lighting_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_pumps_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_refrigeration_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('electricity_water_systems_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('gas_heating_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('gas_interior_equipment_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('gas_water_systems_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('heat_rejection_gal', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('total_site_districtcooling_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('total_site_districtheating_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('total_site_electricity_kwh', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('total_site_gas_kbtu', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('total_site_water_gal', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('water_systems_gal', FLOAT(), table=<marley_aws_tall_timeseries>),
 Column('building_id', BIGINT(), table=<marley_aws_tall_timeseries>),
 Column('upgrade', String(), table=<marley_aws_tall_timeseries>)]

In [7]:
ts_agg = my_run.agg.aggregate_timeseries(enduses=['electricity_heating_kwh'],
                                         # restrict=[('build_existing_model.state', ['CO'])],
                                         timestamp_grouping_func='month',
                                         group_by=['changebuildinglocation_climate_zone'],
                                         get_query_only=False)
print(ts_agg)

INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

   changebuildinglocation_climate_zone       time  sample_count  units_count  \
0                             T24-CEC6 2009-01-01             9            9
1                             T24-CEC6 2009-02-01             9            9
2                             T24-CEC6 2009-03-01             9            9
3                             T24-CEC6 2009-04-01             9            9
4                             T24-CEC6 2009-05-01             9            9
5                             T24-CEC6 2009-06-01             9            9
6                             T24-CEC6 2009-07-01             9            9
7                             T24-CEC6 2009-08-01             9            9
8                             T24-CEC6 2009-09-01             9            9
9                             T24-CEC6 2009-10-01             9            9
10                            T24-CEC6 2009-11-01             9            9
11                            T24-CEC6 2009-12-01             9            9
12                            T24-CEC8 2009-01-01             3            3
13                            T24-CEC8 2009-02-01             3            3
14                            T24-CEC8 2009-03-01             3            3
15                            T24-CEC8 2009-04-01             3            3
16                            T24-CEC8 2009-05-01             3            3
17                            T24-CEC8 2009-06-01             3            3
18                            T24-CEC8 2009-07-01             3            3
19                            T24-CEC8 2009-08-01             3            3
20                            T24-CEC8 2009-09-01             3            3
21                            T24-CEC8 2009-10-01             3            3
22                            T24-CEC8 2009-11-01             3            3
23                            T24-CEC8 2009-12-01             3            3
24                            T24-CEC9 2009-01-01            60           60
25                            T24-CEC9 2009-02-01            60           60
26                            T24-CEC9 2009-03-01            60           60
27                            T24-CEC9 2009-04-01            60           60
28                            T24-CEC9 2009-05-01            60           60
29                            T24-CEC9 2009-06-01            60           60
30                            T24-CEC9 2009-07-01            60           60
31                            T24-CEC9 2009-08-01            60           60
32                            T24-CEC9 2009-09-01            60           60
33                            T24-CEC9 2009-10-01            60           60
34                            T24-CEC9 2009-11-01            60           60
35                            T24-CEC9 2009-12-01            60           60

    rows_per_sample  electricity_heating_kwh
0              2976              6194.001712
1              2688              5863.846126
2              2976             10018.944625
3              2880              2956.086598
4              2976               536.421097
5              2880               175.008561
6              2976               216.205464
7              2976               234.645854
8              2880               261.739732
9              2976               305.755886
10             2880              1869.966761
11             2976             12985.192559
12             2976             12396.102588
13             2688             10694.727984
14             2976              9212.649005
15             2880              4454.404698
16             2976              1840.106978
17             2880                56.172395
18             2976                 0.000000
19             2976                 0.000000
20             2880                77.451819
21             2976              1486.748246
22             2880              5995.649890
23             2976             15726.465865
24             2976             52979.256643
25             2688             46702.725933
26             2976             55454.869505
27             2880             25422.001610
28             2976              5019.012917
29             2880               411.312755
30             2976               349.106057
31             2976               371.978282
32             2880               400.283703
33             2976              5982.151896
34             2880             28402.883652
35             2976            153511.255015

In [9]:
result = my_run.savings.savings_shape(upgrade_id=2, enduses=['electricity_heating_kwh'],
                             annual_only=False,
                             get_query_only=False)
print(result)

                     time  sample_count  units_count  \
0     2009-01-01 00:15:00            72           72
1     2009-01-01 00:30:00            72           72
2     2009-01-01 00:45:00            72           72
3     2009-01-01 01:00:00            72           72
4     2009-01-01 01:15:00            72           72
...                   ...           ...          ...
35035 2009-12-31 23:00:00            72           72
35036 2009-12-31 23:15:00            72           72
35037 2009-12-31 23:30:00            72           72
35038 2009-12-31 23:45:00            72           72
35039 2010-01-01 00:00:00            72           72

       electricity_heating_kwh__baseline  electricity_heating_kwh__savings
0                               8.790849                          3.909125
1                              10.681159                          5.051030
2                              13.252032                          6.480016
3                              15.837681                          6.120894
4                              17.574788                          6.944880
...                                  ...                               ...
35035                         115.020151                         37.242112
35036                         127.692202                         42.374215
35037                         139.676549                         46.831735
35038                         158.078851                         52.793758
35039                         175.170564                         58.782191

[35040 rows x 5 columns]

In [10]:
my_run.save_cache()

INFO:buildstock_query.query_core:15 queries cache saved to .bsq_cache/marley_aws_tall_query_cache.pkl

In [11]:
my_run.savings.savings_shape(upgrade_id=2, enduses=['electricity_heating_kwh'],
                             group_by=['changebuildinglocation_climate_zone'],
                             # restrict=[('in.state', ['VT'])],
                             annual_only=False)

,time,sample_count,units_count,electricity_heating_kwh__baseline,electricity_heating_kwh__savings,changebuildinglocation_climate_zone
0,2009-01-01 00:15:00,9,9,3.169749,1.081357,T24-CEC6
1,2009-01-01 00:30:00,9,9,3.989564,1.371386,T24-CEC6
2,2009-01-01 00:45:00,9,9,5.147836,1.897217,T24-CEC6
3,2009-01-01 01:00:00,9,9,6.380665,1.995548,T24-CEC6
4,2009-01-01 01:15:00,9,9,7.273032,2.347216,T24-CEC6
...,...,...,...,...,...,...
105115,2009-12-31 23:00:00,60,60,94.598288,30.050987,T24-CEC9
105116,2009-12-31 23:15:00,60,60,105.668498,33.808579,T24-CEC9
105117,2009-12-31 23:30:00,60,60,116.366645,37.818326,T24-CEC9
105118,2009-12-31 23:45:00,60,60,133.438416,43.386322,T24-CEC9
105119,2010-01-01 00:00:00,60,60,149.539274,49.309834,T24-CEC9

In [12]:
result = my_run.savings.savings_shape(upgrade_id=2, enduses=['electricity_heating_kwh'],
                             group_by=['changebuildinglocation_climate_zone'],
                             #restrict=[('in.state', ['VT'])],
                             get_quartiles=True,
                             annual_only=True,
                             get_query_only=False)
print(result)

   sample_count  units_count  electricity_heating_kwh__baseline  \
0             9            9                       41616.666667
1             3            3                       61938.888889
2            60           60                      375005.555556

   electricity_heating_kwh__savings  \
0                      21438.888889
1                      23791.666667
2                     206069.444444

         electricity_heating_kwh__savings__quartiles  \
0  [0.0, 0.0, 0.0, 0.0, 2191.666666666667, 15713....
1  [0.0, 0.0, 0.0, 11258.333333333328, 12533.3333...
2  [0.0, 0.0, 0.0, 0.0, 3110.416666666667, 24477....

  changebuildinglocation_climate_zone
0                            T24-CEC6
1                            T24-CEC8
2                            T24-CEC9

In [13]:
my_run.save_cache()

INFO:buildstock_query.query_core:17 queries cache saved to .bsq_cache/marley_aws_tall_query_cache.pkl